<%= stylesheet_link_tag "profile" %>

<!-- adicionar bootstrap -->

<div class="restaurant_img">
    <nav>
      <div class="navbar">
        <div class="margin_div_dinnerdash">
          <h3>dinnerdash</h3>
        </div>
        <div class="margin_div_dinnerdash2">
          <h5 class="space_between">perfil</h5>
          <h5><%= link_to "Sair", destroy_user_session_path, method: :delete, data: {confirm: "Tem certeza que deseja sair?"}, class:"link_color" %></h5>

        </div>
      </div>
    </nav>
    <div class="margin_div">
      <h1>Seu Perfil</h1>
      <h4>Atualize os dados pessoais e senha.</h2>
    </div>
  </div>

<div class="container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>    
    <div class="form-row">
      <div class="form-group col">
        <div class="field">
          <%= f.label :nome %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="form-group col">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <div class="field">
          <%= f.label :nova_senha %> <i>(Deixe em branco se não for alterar)</i><br />
          <%= f.password_field :password, class: "form-control" %>
          
          <!--<% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> caracteres no mínimo</em>
          <% end %> -->
        </div> 
      </div>
      <div class="form-group col">
        <div class="field">
          <%= f.label :Senha_atual %> <i>(Questões de segurança)</i><br />
          <%= f.password_field :current_password, class:"form-control" %>
        </div>
      </div>
    </div>

      <!-- <div class="field">
        <%= f.label :Confirme_sua_senha %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div> -->

      <div class="actions">
        <%= f.submit "atualizar meu perfil", class: "btn btn-success" %>
</div>
<% end %>
</div>

<nav class="footer">
  <div class="navbar">
    <div class="margin_div_dinnerdash">
      <h5>dinnerdash | todos os direitos reservados</h5>
    </div>
    <div class="margin_div_dinnerdash2">
      <p>Desenvolvido por Gabriel Bessa, Victor Girão e Conrado Nunes</p>
    </div>
  </div>
</nav>

<!-- 

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

-->