<%= render  "meals/header" %>
<br>
<br>
<div class ="container">
  <%= form_with model: @meal, local: true, multipart: true do |form| %>
  
    <% if @meal.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@meal.errors.count, "error") %> prohibited
          this meal from being saved:
        </h2>
        <ul>
          <% @meal.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    

    <div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <p>
            <%= form.label :name %><br>
            <%= form.text_field  :name, class:"form-control"   %>
          </p>
        </div>
        <div class="form-group col-md-6">  
          <p>
            <%= form.label :category %><br>
            <%= form.text_field :category, class:"form-control"   %>
          </p>
        </div>
      </div>
      <p>
        <%= form.label :description %><br>
        <%= form.text_area :description,  class:"form-control"%>
      </p>
      <div class="form-row">
        <div class="form-group col-md-6">
          <p>
            <%= form.label :price %><br>
            <%= form.text_field :price, class:"form-control" %>
          </p>
        </div>  
        <div class="form-group col-md-6">
          <div class="custom-file">
            <p>
              <%= form.label :escolher_imagem %><br>
              <%= form.file_field :image, class:"form-control"   %>
            </p>
          </div>
        </div>
      </div>

      <div>
        <p>
          <%= form.submit  class:"btn btn-success"%>
        </p>
      </div>
    </div>
  <% end %>
</div>
<br>

<%= render  "meals/footer" %>