<%= stylesheet_link_tag "meals" %>
<br>
<br>
<div class ="container">
  <%= form_with model: @meal, local: true, multipart: true do |form| %>
  
    <% if @meal.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@meal.errors.count, "error") %> prohibited
          this meal from being saved:
        </h2>
        <ul>
          <% @meal.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    

    <div>


      <div class="form-row">
        <div class="form-group col-md-6">
          <p>
            <%= form.label :nome %><br>
            <%= form.text_field  :name, class:"form-control"   %>
          </p>
        </div>
        <div class="form-group col-md-6">  
          <p>
            <%= form.label :categoria %><br>
            <%= form.text_field :category, class:"form-control"   %>
          </p>
        </div>
      </div>


        <p>
          <%= form.label :descrição %><br>
          <%= form.text_area :description,  class:"form-control"%>
        </p>


      <div class="form-row">
        <div class="form-group col-md-6">
          <p>
            <%= form.label :preço %><br>
            <%= form.text_field :price, class:"form-control" %>
          </p>
        </div>

        <div class="form-group col-md-6">
          <div class="custom-file">
              <%= form.file_field :image, class:"custom-file-input", id:"customFile"   %>
              <%= form.label :foto, class:"custom-file-label", for:"customFile" %>
          </div>
        </div>
      </div>


      <div>

      </div>
        
      <%= form.check_box :availability %>
      <%= label_tag(:availability, "Esta refeição não estará disponível no cardápio") %>

      <div>
        <p>
          <%= form.submit  class:"btn btn-success"%>
          <%= link_to 'Voltar', meals_path, class:"btn btn-secondary" %>
        </p>
      </div>
    

    </div>
  <% end %>
</div>
<br>

