<%= stylesheet_link_tag "login" %>

<div class="container">
  <div class="dinner_img"></div>
  <div class="column_login">
  <h1>dinnerdash</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "reg_box" %>
      </div>

      <div class="field">
        <%= f.label :senha %><br />
        <%= f.password_field :senha, autocomplete: "current-password", class: "reg_box" %>
      </div><br />

        <!--
         <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
        -->

      <div class="actions">
        <%= f.submit "fazer login", class: "btn_login" %>
      </div>
      <hr>
      <p>Não possui conta?</p>
      <div class="actions">
        <%= link_to "fazer meu cadastro", new_user_registration_path, class: "btn_cadastro" %>
      </div>  <!-- Ele ainda não ta redirecionando pra tela de cadastro -->
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
