<%= render 'categories/header'%>
<div class="container-fluid tabela d-flex justify-content-center">
  <%= form_with model: @category do |form| %>
    <h1>Editar categoria</h1>
    <p><%= form.text_field :name, placeholder: "Nome", class: "input" %></p>
    <p><%= form.number_field :quantity, placeholder: "Quantidade", class: "input" %></p>
    <%= form.submit class: "btn btn-success"%>
  <% end %>
</div>
<%= render 'categories/footer'%>